<a href="https://colab.research.google.com/github/Kemalrydindo/Kemalrydindo/blob/main/Tugas_Pekan_13_H051211003_Muh_Kemal_Rydindo_Irwan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Nomor 1
total_hrg_brg = 0
kd_brg = input("Kode Barang =")
nama_brg = input("Nama Barang =")
hrg_satuan = eval(input("Harga satuan Barang =Rp"))
jum_brg = eval(input("Jumlah barang yang dibeli = "))
hrg_beli = hrg_satuan*jum_brg
total_hrg_brg = hrg_beli + total_hrg_brg
print("Total harga yang dibayar Rp.",total_hrg_brg)

Kode Barang =SKT12GG
Nama Barang =Sikat Gigi
Harga satuan Barang =Rp12000
Jumlah barang yang dibeli = 15
Total harga yang dibayar Rp. 180000

In [4]:
#Nomor 2
bil_awal = int(input('Masukan bilangan awal: '))
bil_akhir = int(input('Masukan bilangan akhir: '))
 
list_bil = [i for i in range(bil_awal, bil_akhir +1 )]
print('Daftar bilangan: {}'.format(list_bil))
 
bil_genap = []
bil_ganjil = []
 
for bil in list_bil:
    if bil % 2 == 0:
        bil_genap.append(bil)
    else:
        bil_ganjil.append(bil)
 
print('genap: {}'.format(', '.join([str(bil) for bil in bil_genap])))
print('ganjil: {}'.format(', '.join([str(bil) for bil in bil_ganjil])))

Masukan bilangan awal: 8
Masukan bilangan akhir: 55
Daftar bilangan: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]
genap: 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54
ganjil: 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55

In [5]:
#Nomor 3
awal = int(input('Masukkan Angka Awal = '))
akhir = int(input('Masukkan Angka Akhir = '))

for i in range(awal, akhir+1, 3):
    print (i, end=' ')

Masukkan Angka Awal = 5
Masukkan Angka Akhir = 41
5 8 11 14 17 20 23 26 29 32 35 38 41

In [6]:
#Nomor 4
n = int(input('Masukkan Bilangan = '))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

Masukkan Bilangan = 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
#Nomor 5
no = []
nama = []
tugas = []
kuis = []
uts = []
uas = []
akhir = []
ulang = int(input('Jumlah Mahasiswa : '))
for i in range(ulang):
    print()
    print('Data Ke - ', str(i+1))
    no.append(str(i+1))
    nama.append(input('Masukkan Nama Mahasiswa : '))
    tugas.append(int(input('Nilai Tugas \t\t: ')))
    kuis.append(int(input('Nilai Kuis \t\t: ')))
    uts.append(int(input('Nilai UTS \t\t: ')))
    uas.append(int(input('Nilai UAS \t\t: ')))
    akhir.append(int(input('Nilai Akhir \t\t: ')))
    print()

Jumlah Mahasiswa : 3

Data Ke -  1
Masukkan Nama Mahasiswa : Kemal
Nilai Tugas 		: 85
Nilai Kuis 		: 85
Nilai UTS 		: 80
Nilai UAS 		: 80
Nilai Akhir 		: 83


Data Ke -  2
Masukkan Nama Mahasiswa : Arul
Nilai Tugas 		: 88
Nilai Kuis 		: 88
Nilai UTS 		: 84
Nilai UAS 		: 84
Nilai Akhir 		: 85


Data Ke -  3
Masukkan Nama Mahasiswa : Zaky
Nilai Tugas 		: 90
Nilai Kuis 		: 90
Nilai UTS 		: 88
Nilai UAS 		: 88
Nilai Akhir 		: 89

In [19]:
#isi tabel
print()
print('-'*120)
print('\t No \t Nama Mhs\t N.Tugas \t N.Kuis \t N.UTS \t\t N.UAS \t\t Nilai Akhir')
print('-'*120)
for i in range(ulang):
  print('\t', no[i], '\t', nama[i], '\t\t', tugas[i], '\t\t', kuis[i], '\t\t', uts[i], '\t\t', uas[i], '\t\t', akhir[i])

------------------------------------------------------------------------------------------------------------------------
	 No 	 Nama Mhs	 N.Tugas 	 N.Kuis 	 N.UTS 		 N.UAS 		 Nilai Akhir
------------------------------------------------------------------------------------------------------------------------
	 1 	 Kemal 		 85 		 85 		 80 		 80 		 83
	 2 	 Arul 		 88 		 88 		 84 		 84 		 85
	 3 	 Zaky 		 90 		 90 		 88 		 88 		 89

In [21]:
#Penjumlahan Matriks
mat1 = [
    [2, 7],
    [4, 6],
]

mat2 = [
    [6, 9],
    [5, 2],
]

for x in range(0, len(mat1)):
    for y in range(0, len(mat1[0])):
        print (mat1[x][y] + mat2[x][y], end=' '),
    print

8 16 9 8